.photo-grid {
  padding: 92px 48px 0 48px;
  display: grid;
  max-width: min(100%,1184px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: min(100%,928px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
} 

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 88px 24px 0 24px;
    max-width: min(100%,720px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
} 

@media screen and (max-width: 320px) {
  .photo-grid {
    padding: 64px 16px 0 16px;
    max-width: min(100%,288px);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
  }
} 