.intro__list-item {
  margin: 0;
  max-width: min(100%, 720px);
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
}

@media screen and (max-width: 320px) {
  .intro__list-item {
    max-width: 288px;
  }
} 